<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercises</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/form">Calculate Calories</a>
        
        <a href="/exercises">Exercises</a>
        <a href="/why">Know Why</a>
    </div>
    <div class="content">
        <div class="content-row">
            <div class="left-part">
                <h1>Exercise and Activities</h1>
                
                <h2>Types of Exercises</h2>
                <ul>
                    <li><strong>Cardio:</strong> Running, cycling, swimming.</li>
                    <li><strong>Strength Training:</strong> Weight lifting, resistance band exercises.</li>
                    <li><strong>Flexibility:</strong> Yoga, Pilates, stretching exercises.</li>
                    <li><strong>Balance:</strong> balance board exercises.</li>
                </ul>
                <h2>Tips</h2>
        <ul>
            <li>Stay hydrated by drinking plenty of water.</li>
            <li>Eat a balanced diet with plenty of fruits and vegetables.</li>
            <li>Get regular exercise to maintain cardiovascular health.</li>
            <li>Prioritize sleep to help your body recover and perform at its best.</li>
            <li>Manage stress through mindfulness, meditation, or other relaxation techniques.</li>
        </ul>
                </div>
            <img src="https://media.istockphoto.com/id/1139929498/vector/happy-woman-exercising-in-the-park-vector-illustration-in-flat-style-concept-illustration.jpg?s=612x612&w=0&k=20&c=r-sSW5XtIooyE2Wk9EgBPJQdsUS4Jecw63VNGvCHG7E=" alt="Fitness Image" >
        </div>
        
            
    </div>
</body>
</html>
