<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Burn Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/form">Calculate Calories</a>
        
        <a href="/exercises">Exercises</a>
        <a href="/why">Know Why</a>
    </div>
    <div class="content">
        <div class="content-row">
            <div class="left-part">
                <h1 class="main-h">CALORIE <br> CALCULATOR</h1>
        
        <p>Understanding your calorie burn can help you maintain a healthy lifestyle.</p>
        <div>
        <button class="btn-calculate"><a href="/form">Calculate Calories</a></button>
        <button class="btn-why"><a href="/why">Know Why?</a></button>
    </div>
        </div>
        
            <img src="https://media.istockphoto.com/id/914932994/vector/calculator-with-apple-and-measuring-tape.jpg?s=612x612&w=0&k=20&c=_dsEPPnTfQaqUszLzgwpKSSQ9x0-L2I9Ukc-5dR0U7Q=" alt="Fitness Image" class="img-home">
       
        </div>
    </div>
</body>
</html>
