<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Tips</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/form">Calculate Calories</a>
        
        <a href="/exercises">Exercises</a>
        <a href="/why">Know Why</a>
    </div>
    <div class="content">
        <div class="content-row">
            <div class="left-part">
                <h2>Why to Track Your Calorie Burn?</h2>
                <p>Calorie tracking helps you understand how much energy you are expending through various activities. This information can be crucial for:</p>
                <ul>
                    <li>Weight management: Knowing your calorie burn helps balance calorie intake and expenditure.</li>
                    <li>Setting fitness goals: Track your progress and adjust your workout intensity and duration accordingly.</li>
                    <li>Optimizing workouts: Identify which activities burn the most calories and maximize your workout efficiency.</li>
                </ul>
                <h2>Suggestions</h2>
                <p>Mix different types of exercises to create a balanced fitness routine. Aim for at least 150 minutes of moderate aerobic activity or 75 minutes of vigorous activity each week, along with muscle-strengthening activities on 2 or more days a week.</p>
            
            </div>
            <img src="https://img.freepik.com/premium-vector/tiny-female-character-with-huge-calculator-counting-calories-healthy-eating-weight-loss-nutrition-dieting-concept-carbohydrates-fat-control-food-cartoon-vector-illustration_87771-11232.jpg" alt="Fitness Image" >
        </div>
        
            
    </div>
   
    
</body>
</html>
